{% extends '@AmzsCore/base.html.twig' %}

{% block title %}CMS-Page Management{% endblock %}

{% block toolbar %}
    {% embed '@AmzsCore/Layout/_toolbar.html.twig' %}

        {% block toolbar_title %}
            Page Management
        {% endblock %}

        {% block toolbar_breadcrumbs %}
            <li class="breadcrumb-item text-muted">
                <a href="#" class="text-muted text-hover-primary">
                    Page
                </a>
            </li>
        {% endblock %}

        {% block toolbar_button_actions %}
            <a href="{{ path(amzs_page_add_route) }}"
               class="btn btn-sm fw-bold btn-primary">
                Create
            </a>
        {% endblock %}

    {% endembed %}
{% endblock %}

{% block body %}

    <div class="mb-3">
        <select id="kt_amz_language_select" class="form-select form-select-sm w-150px">
            {% for locale in locales %}
                <option value="{{ locale }}">{{ locale }}</option>
            {% endfor %}
        </select>
    </div>

    {% embed '@AmzsCore/Components/Table/base.html.twig' %}
    {% endembed %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        "use strict";

        const $langSelect = $('#kt_amz_language_select');

        $(function () {

            KTModalForm.init();

            KTAmzDataTable.init({

                ajaxUrl: "{{ path(amzs_page_data_route) }}",
                columns: [

                    // Actions
                    {
                        data: null,
                        title: 'Actions',
                        orderable: false,

                        render: function (data, type, row) {

                            const editUrl = "{{ path(amzs_page_edit_route, {'id': '__ID__'}) }}"
                                .replace('__ID__', row.id);

                            const deleteUrl = "{{ path(amzs_page_delete_route, {
                                'id': '__ID__',
                                '_csrf_token': '__CSRF_TOKEN__'
                            }) }}"
                                .replace('__ID__', row.id)
                                .replace('__CSRF_TOKEN__', row._csrf_token);

                            return `
                                <a href="${editUrl}"
                                   class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">

                                    <span data-bs-toggle="tooltip" title="Edit">
                                        {{ icon('edit') }}
                                    </span>

                                </a>

                                <a href="${deleteUrl}"
                                   data-amz-btn-remove
                                   class="btn btn-icon btn-active-light-primary w-30px h-30px">

                                    <span data-bs-toggle="tooltip"
                                          data-bs-trigger="hover"
                                          data-bs-original-title="Delete">

                                        {{ icon('delete') }}

                                    </span>

                                </a>
                            `;
                        }
                    },

                    {
                        data: 'index',
                        title: 'ID',
                        width: '50px'
                    },

                    {
                        data: 'name',
                        title: 'Name'
                    },

                    {
                        data: 'slug',
                        title: 'Slug'
                    },

                    {
                        data: null,
                        title: 'Language',

                        render: function () {

                            const lang = $langSelect.val();

                            return `
                            <span class="badge badge-primary fs-7">
                                ${lang}
                            </span>
                        `;
                        }
                    },

                    // Published
                    {
                        data: 'published',
                        title: 'Published',

                        render: function (data) {
                            return `
                                <span class="badge badge-success fs-7">
                                    ${data}
                                </span>
                            `;
                        }
                    },

                    {
                        data: 'created_at',
                        title: 'Created At'
                    },

                    {
                        data: 'updated_at',
                        title: 'Updated At'
                    },
                ]
            });

            $langSelect.on('change', function () {

                $('#kt_datatable')
                    .DataTable()
                    .ajax
                    .reload();

            });

        });
    </script>
{% endblock %}