{% if form.socialSharing is defined %}
    {% import '@AmzsPage/page/partials/macros.html.twig' as macros %}
    <div class="card card-flush py-4" data-controller="social-sharing"
         data-social-sharing-{{ page is defined ? "Admin--page-add" : "Admin--article-add" }}-outlet="#{{ page is defined ? 'amz_post_add' : "article-form" }}">
        <div class="card-header">
            <div class="card-title">
                <h2>Social Sharing</h2>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row mb-10">
                <div class="col-12 col-md-6">
                    <label class="form-label">Google title</label>
                    <button type="button" class="btn btn-icon btn-sm btn-light h-30px w-30px" data-action='click->social-sharing#copyGoogleTitle:prevent'>
                        {{ macros.icon_copy() }}
                    </button>
                    {{ form_widget(form.socialSharing.googleTitle, {'attr': {'class': 'form-control fs-7','placeholder': 'Enter google title','data-social-sharing-target': 'googleTitle'}}) }}
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label">Google tags</label>
                    {{ form_widget(form.socialSharing.googleTagStr, {attr: {'class': 'form-control fs-7 js-tagify'}}) }}
                </div>
            </div>
            <div class="mb-10">
                <label class="form-label">Google Description</label>
                <button type="button" class="btn btn-icon btn-sm btn-light h-30px w-30px" data-action='click->social-sharing#copyGoogleDes:prevent'>
                    {{ macros.icon_copy() }}
                </button>
                {{ form_widget(form.socialSharing.googleDescription, {'attr': {'class': 'form-control fs-7', 'data-social-sharing-target': 'googleDescription'}}) }}
            </div>
            <div class="mb-10">
                <label class="form-label">Facebook title</label>
                <button type="button" class="btn btn-icon btn-sm btn-light h-30px w-30px" data-action='click->social-sharing#copyFacebookTitle:prevent'>
                    {{ macros.icon_copy() }}
                </button>
                {{ form_widget(form.socialSharing.facebookTitle, {'attr': {'class': 'form-control fs-7','placeholder': 'Enter facebook title','data-social-sharing-target': 'facebookTitle'}}) }}
            </div>

            <div class="mb-10">
                <label class="form-label">Facebook Thumbnail</label>
                <div class="flex-column d-flex gap-3" data-gallery-target>
                    <div class="d-flex gap-2">
                        <a href="javascript:void(0)" data-amzs-gallery-modal
                           class="btn btn-sm fw-bold btn-primary">Pick</a>
                    </div>
                    <div>
                        <img src="{% if form.socialSharing.facebookThumbnail.vars.value is not empty %}{{ asset(form.socialSharing.facebookThumbnail.vars.value) }}{% endif %}"
                             alt="review" class="mw-275px img-thumbnail">
                    </div>
                    {{ form_widget(form.socialSharing.facebookThumbnail) }}
                </div>
            </div>
            <div class="mb-10">
                <label class="form-label">Facebook Description</label>
                <button type="button" class="btn btn-icon btn-sm btn-light h-30px w-30px" data-action='click->social-sharing#copyFacebookDes:prevent'>
                    {{ macros.icon_copy() }}
                </button>
                {{ form_widget(form.socialSharing.facebookDescription, {'attr': {'class': 'form-control fs-7', 'data-social-sharing-target': 'facebookDescription'}}) }}
            </div>
        </div>
    </div>
{% endif %}